@use "sass:math";

$color-text: #000;
$color-accent: #E40465;
$color-main: #2F2F2F;
$color-bg: #F4F4F4;

$font-famly-base: "游ゴシック", "Yu Gothic", Helvetica, Arial, sans-serif;

@mixin title-main($t) {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;

    &::before {
        content: $t;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
        line-height: 1;

    }

    &::after {
        content: "";
        display: block;
        width: 100px;
        border-bottom: solid $color-accent 2px;
        margin: 25px auto 0 auto;
    }
}

@mixin inner($mw: 800px, $w: percentage(math.div(560, 640))) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

$bs: (
    "desktop": 640px,
    "br": 500px,
    "table": 815px,
);

@mixin media($b: desktop) {
    @media (#{map-get($bs, $b)} <=width) {
        @content;
    }
}

/*----common----*/
body {
    color: $color-text;
    font-family: $font-famly-base;
    font-size: 14px;
    line-height: math.div(34, 14);
    letter-spacing: #{math.div(50,1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/*----header----*/
.header {
    padding: 40px 0;

    &__logo {
        font-size: 24px;
        font-weight: bold;
        line-height: math.div(29, 24);
        letter-spacing: #{math.div(100,1000)}em;
    }

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }
}

.gnav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: 30px;
        color: $color-text;


    }

    &__item {
        &:first-child {
            color: $color-accent;
        }
    }
}

.footer {
    padding: 80px 0;
    background-color: #2F2F2F;
    text-align: center;

    &__copy {

        color: #fff;
        font-size: 12px;
        line-height: math.div(20, 12);
    }

}

/*------index-------*/
.mainvisual {
    margin-bottom: 80px;

    &__inner {
        @include inner();
        background: url(../images/pic_main_lg.png) no-repeat center/cover;
        height: 560px;

        @include media() {
            height: 400px;
        }
    }
}

/*philosophy*/
.philosophy {
    text-align: center;
    margin-bottom: 120px;

    &__title {
        @include title-main("PHILOSOPHY");
    }

    &__inner {
        @include inner();
    }

    &__text {
        display: grid;
        row-gap: 60px;
    }
}

.works {
    margin-bottom: 120px;

    &__title {
        @include title-main("WORKS");
    }

    &__inner {
        @include inner();

    }

    &__list {
        display: grid;
        row-gap: 60px;

        @include media() {
            grid-auto-flow: column;
            column-gap: 80px;
        }
    }
}

.post {
    text-align: left;

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: math.div(31, 18);
        margin: 30px 0 20px 0;
    }

    &__visual {
        width: 100%;
    }

    &__new {
        position: relative;

        &::after {
            content: "NEW";
            display: inline-block;
            width: 60px;
            height: 25px;
            font-size: 12px;
            line-height: 1;
            text-align: center;
            align-content: center;
            border-radius: 25px;
            bottom: 15px;
            left: 15px;
            position: absolute;
            background-color: #E40465;
            color: #F4F4F4;
        }
    }
}

.voice {
    padding: 80px 0 120px 0;
    background-color: $color-bg;

    &__title {
        @include title-main("WORKS");
    }

    &__inner {
        @include inner();

    }

    &__list {
        display: grid;
        row-gap: 60px;

        @include media() {
            grid-auto-flow: column;
            column-gap: 80px;
        }
    }


}

.card {
    padding: 45px 40px;
    background-color: #fff;

    &__customer {
        width: 210px;
        margin-top: 40px;
        display: grid;
        grid-auto-flow: column;
        line-height: math.div(24, 14);

        dt {
            font-weight: bold;

        }

        img {
            margin-right: 20px;
        }
    }


}


body {
    color: #000;






















}