$color-text: #888;
$color-accent: #FA6980;

$font-family-base: Helvetica, Arial, sans-serif;

body {
  color: $color-text;
  font-family: $font-family-base;
}
.footer {
  padding: 100px 0 40px;

  &__copy {
    font-size: 12px;
  }
}

.btn{
	background-color: $color-text;

	&:hover{
		background-color: $color-accent;
	}
}
.header {
  /* 足し算 */
  width: 100px + 50px;
  /* 引き算 */
  font-size: 16px - 2px;
  /* 掛け算 */
  padding: 10px * 2;
}